<!-- Jumbotron -->
<div class="jumbo-styling">
  <h1 class="pb-3 pt-5">DocoSummaries</h1>
  <p class="pb-5">
    A place where you can learn about new documentaries, watch documentaries for free, or read their summaries. Search for quick summaries or videos from different categories!
  </p>
  <app-searchbar class="pb-5"></app-searchbar>
  <app-button [navLink]="documentariesLink">All Documentaries</app-button>
</div>
<!-- Browse By Tags -->
<div class="browseByTags pb-3 mb-5">
  <h2 class="pb-3 pt-5">Browse By <span>Tags</span></h2>
  <div *ngFor="let tag of tagsList | slice:0:6; let i=index"  role="listitem">
    <div class="browseByTags pb-3 mb-2">
      <app-tag [paramName]="tag.name"></app-tag>
    </div>
  </div>
  <a class="darkGreyText" routerLink="/documentaries">View All</a>
</div>
<!-- Browse By Categories -->
<div class="browseByCategories pb-3 mb-5">
  <h2 class="pb-5 pt-5">Browse By <span>Categories</span></h2>
  <div class="row">
    <div class="column" *ngFor="let category of categoryList | slice:0:3; let i=index"  role="listitem">
      <app-card 
        [categoryName]="category.name" 
        [categoryDescription]="category.categoryDescription" 
        [categoryLink]="category.name">
      </app-card>
    </div>
  </div>
  <br>
  <a class="mt-5 pt-5 darkGreyText" routerLink="/documentaries">View All</a>
</div>