h1 {
  font-size:35pt;
  font-weight:bold;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size:20pt;
    font-weight:bold;
  }
}
@media only screen and (max-width: 300px) {
  h1 {
    font-size:14pt;
    font-weight:bold;
  }
}
.jumbo-styling {
  color:white;
  line-height: 2;
  letter-spacing:1px;
  text-align:center;
}
p {
  font-size: 10pt;
}
@media only screen and (min-width: 1200px) {
  .jumbo-styling {
    padding-left: 30%;
    padding-right: 30%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .jumbo-styling {
    padding-left: 10%;
    padding-right: 10%;
  }
}
