<div class="docoList content">
  <!-- Sidebar Mobile -->
  <div id="sidebar-mobile" class="sidebar-mobile">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div *ngFor="let tags of tagList">
      <!-- Expanded Category -->
      <div *ngIf="tags.expanded">
        <details open>
          <!-- Category -->
          <summary class="category-mobile">
            <a *ngIf="selected == tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="selectedLink sidebarLink">
              {{tags[0].categoryName }}</a>
            <a *ngIf="selected != tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="lightGreyText sidebarLink">
              {{tags[0].categoryName }}</a>
          </summary>
          <!-- Tag -->
          <div *ngFor="let tag of tags" class="tag-mobile">
            <a *ngIf="selected == tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="selectedLink sidebarLink pl-3">
              #{{tag.name}}</a>
            <a *ngIf="selected != tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="lightGreyText sidebarLink pl-3">
              #{{tag.name}}</a>
          </div>
        </details>
      </div>
      <!-- Non expanded Category -->
      <div *ngIf="!tags.expanded">
        <details closed>
          <!-- Category -->
          <summary class="category-mobile">
            <a *ngIf="selected == tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="selectedLink sidebarLink">
              {{tags[0].categoryName }}</a>
            <a *ngIf="selected != tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="lightGreyText sidebarLink">
              {{tags[0].categoryName }}</a>
          </summary>
          <!-- Tag -->
          <div *ngFor="let tag of tags" class="tag-mobile">
            <a *ngIf="selected == tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="selectedLink sidebarLink pl-3">
              #{{tag.name}}</a>
            <a *ngIf="selected != tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="lightGreyText sidebarLink pl-3">
              #{{tag.name}}</a>
          </div>
        </details>
      </div>
    </div>
  </div>
  <!-- Sidebar Desktop -->
  <div class="sidebar-desktop">
    <div *ngFor="let tags of tagList">
      <!-- Expanded Category -->
      <div *ngIf="tags.expanded">
        <details open>
          <!-- Category -->
          <summary>
            <a *ngIf="selected == tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="selectedLink sidebarLink">
              {{tags[0].categoryName }}</a>
            <a *ngIf="selected != tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="lightGreyText sidebarLink">
              {{tags[0].categoryName }}</a>
          </summary>
          <!-- Tag -->
          <div *ngFor="let tag of tags">
            <a *ngIf="selected == tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="selectedLink sidebarLink pl-3">
              #{{tag.name}}</a>
            <a *ngIf="selected != tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="lightGreyText sidebarLink pl-3">
              #{{tag.name}}</a>
          </div>
        </details>
      </div>
      <!-- Non Expanded Category -->
      <div *ngIf="!tags.expanded">
        <details closed>
          <!-- Category -->
          <summary>
            <a *ngIf="selected == tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="selectedLink sidebarLink">
              {{tags[0].categoryName }}</a>
            <a *ngIf="selected != tags[0].categoryName" routerLink="./" (click)="changeSelection(tags[0].categoryName)"
              class="lightGreyText sidebarLink">
              {{tags[0].categoryName }}</a>
          </summary>
          <!-- Tag -->
          <div *ngFor="let tag of tags">
            <a *ngIf="selected == tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="selectedLink sidebarLink pl-3">
              #{{tag.name}}</a>
            <a *ngIf="selected != tag.name" routerLink="./" (click)="changeSelection(tag.name)"
              class="lightGreyText sidebarLink pl-3">
              #{{tag.name}}</a>
          </div>
        </details>
      </div>
    </div>
  </div>
  <!-- Summaries List -->
  <div class="summariesWidth">
    <button class="openbtn" (click)="openNav()">Filter</button>
    <br>
    <h1 *ngIf="selected !== 'documentariesList'">{{selected}} Documentaries</h1>
    <div class="list">
      <ng-container *ngIf="docoList">
        <div id="loader">
          <p>LOADING...</p>
        </div>
        <div id="loaded">
          <ng-container *ngFor="let doco of docoList">
            <h4 class="pt-5 pb-2 title">{{doco.name}}</h4>
            <p class="desc">{{doco.description}}</p>
            <a class="readMore mb-2" routerLink="/documentariesList/summary/{{prefix}}-{{doco.index}}">Read More ></a>
            <br>
            <div class="mb-1"></div>
            <hr>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="docoList === undefined || docoList.length === 0">
          <p class="pt-5">There are no documentaries available.</p>
      </ng-container>
    </div>
  </div>
</div>
