.docoList {
  display: flex;
}

.docoList p {
  color: white;
}

.selectedLink {
  text-decoration: none;
  color: #ff960d !important;
}

summary {
  color: orange;
}

summary a {
  color: white;
  font-size: 24px;
  margin-right: 8px;
  line-height: 2;
}

summary a:hover {
  color: orange;
}

@media only screen and (max-width: 700px) {
  summary a {
    margin-right: 6px;
  }
  summary {
    color: #818181;
  }
}

details div a {
  font-size: 16px;
  padding-left: 30px !important;
  line-height: 2;
}

details > summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: " ►";
}
details[open] summary:after {
  content: " ▼";
}

hr {
  border: 1px solid #747474;
  /* width: 100%; */
}

h1 {
  font-weight: bold;
  color: #dcdcdc;
}

.title {
  font-weight: bold;
}
.desc {
  line-height: 1.6;
}

.readMore {
  color: orange;
  text-decoration: none;
  float: right;
  text-align: right;
}

/* The sidebar menu */
@media only screen and (min-width: 701px) {
  .sidebar-desktop {
    display: block;
    padding-top: 20px;
    padding-right: 20px;
    width: 450px;
  }
  .sidebar-mobile,
  .openbtn {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .docoList {
    padding-left: 8px;
    padding-right: 8px;
  }
  h1 {
    font-size: 18pt;
  }
  .sidebar-desktop {
    display: none;
    width: 500px;
  }
  .sidebar-mobile,
  .openbtn {
    display: block;
    border-radius: 10px;
  }
  .category-mobile {
    font-size: 16pt !important;
  }
  .tag-mobile {
    font-size: 13pt !important;
    margin-left: 30px;
  }
}

.sidebar-mobile::-webkit-scrollbar {
  width: 1em;
}

/* The sidebar menu */
.sidebar-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: none;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: 0.5s;
  border-right: 1px solid #13101b;
}

/* The sidebar links */
.sidebar-mobile details a {
  padding: 8px 0px 8px 40px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar-mobile .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #ff960d;
}

.summariesWidth {
  width: 800px;
}

@media only screen and (max-width: 900px) {
  .summariesWidth {
    width: 100%;
  }
}

summary:focus {
  outline-style: none;
}
