/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

* {
  font-family:'Montserrat', sans-serif;
  background-color:#191523;
}
.content {
  padding: 50px 100px;
}
@media only screen and (max-width: 600px) {
  .content {
    padding: 50px 50px;
  }
}

.bg-main {
  background-color:#191523;
}

.darkGreyText {
  color:darkgrey
}
.darkGreyText:hover {
  color:orange;
  text-decoration:none;
}